header{
  height: auto;
  }
.header_fluid{
  background: $white;
  padding-top: 20px;
  //background-image: url(../image/Header-Bg.png);
  width: 100%;
  z-index: 9999;
    @include _media-lg-down() {
    top: 0px;
    width: 100%;
    z-index: 9999 !important;
      padding: 0px;
      padding-top: 20px;
      //position: fixed;
  }
 @include _media-small-down() {
 z-index: auto;
}
  .price_aria{
    @include _media-md-down(){
      position: absolute;
      right: 55px;
    }
    @include _media-xss-down(){
      position: absolute;
      right: 30px;
    }

  }
.header_btn{
  color: white;
  z-index: 2;
  p{

    padding-bottom: 0!important;
  }
  @include _media-small-down() {
    position: absolute;
    right:80px;
    p{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0!important;
    }
    @include _media-lg-down(){
      padding-right: 0px;
    }
  }
  @include _media-xs-down() {
    display: none;
  }
    a{
  padding: 11px 22px;
    background: $gv_gold;
    font-size: 16px;
      font-family: 'Prequel Demo';
      line-height: 22px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include _media-big-down() {
      padding: 11px 22px;
      background: $gv_gold;
      font-size: 16px;
      line-height: 22px;
    }
      @include _media-lg-down() {
        padding: 11px 15px;
        font-size: 14px;
      }
      @include _media-md-down(){

      }
      @include _media-small-down(){
        font-size: 14px;
        margin-right: 15px;
      }
      &:hover{
    color: $white;
        background-color: $gv_mid_gold;
  }
  }
}



.head_menu {
height: 100px;
display: flex;
align-items: center;
  flex-wrap: nowrap;
@include _media-md-down() {
  height: 70px;
}

.header_logo{
  padding-right: 15px;
  z-index: 2;
  @include _media-lg-down() {
    max-width: 250px;
  }
  @include _media-md-down() {
    max-width: 250px;
  }
  @include _media-xss-down() {
    max-width: 240px;
  }
  a {
    display: flex;
    align-items: center;
  }
  img,svg{

    height: 100%;
    object-fit: contain;
    width: 250px;
    @include _media-lg-down(){
      width: 250px;
    }
  }
  @include _media-md-down() {
    z-index: 5;
  }
}

.head_menu_col{
  text-align: center;
  z-index: 2;
  @include _media-small-down() {
    position: absolute;
    right: 15px;
  }
    .menu-menu-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
      height: 80px;
        @include _media-small-down() {display:none;}
    li{
      cursor: pointer;
      display:inline-flex;
      align-items: center;
      height: 100%;
      margin-right: 20px;
      &:hover {
        a{
          color: $gv_gold;

        }

      }
      &:first-child {
        margin-left: 0;
      }
      span {
        display: none;
      }
      @include _media-lg-down() {
        //margin-left: 15px;
      }
      a{
        display: inline-block;
        vertical-align:bottom;
        color: #000;
        font-weight: 400;
        font-size: 16px;

        line-height: 22px;
        position: relative;
        font-family: 'Prequel Demo';
        //&:after{
        //  content: "";
        //  width: 100%;
        //  height:2px;
        //  background-color: $brand-hover;
        //  display: block;
        //  opacity: 0;
        //  position: absolute;
        //  left: 0;
        //  top: 49px;
        //}

        @include _media-big-down() {
          font-size: 16px;
          //text-transform: uppercase;
          //letter-spacing: 1px;

        }
        @media (min-width: 1400px){
          font-size: 16px;
        }
        @include _media-lg-down() {
          font-size: 16px;
        }
        &:hover {
          color:$gv_gold;

          line-height: 22px;
        }
        &:focus,&:focus:after{
          color: $gv_gold;
          opacity: 1;
        }
        &:hover:after {
          color: $gv_gold;
          opacity: 1;
        }
      }
      &.current-menu-item,&.current_page_parent {
        a {
          color: $gv_gold !important;
          position: relative;

          //&:after{
          //  content: "";
          //  width: 100%;
          //  height:2px;
          //  background-color: $brand-hover;
          //  display: block;
          //  opacity: 1;
          //  position: absolute;
          //  left: 0;
          //  top: 49px;
          //}

        }
      }



      &.menu-item-has-children{
        position: relative;
        .sub-menu {
          left: -10px;
          top: 50px;
          opacity: 0;
          z-index: -1;
          position: absolute;
          min-width: 230px;
          display: block;
          border-radius: 3px;
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.178677);
          transition: 0.3s ease-out;
          transition-delay: .3s;
          width: 0px;
          height: 0px;
          overflow: hidden;
          @include _media-md-down() {
            left: 20px;
          }

          li{
            display: block;
            text-align: left;
            margin-left: 0px;
            padding: 0;
            border-top: 0.5px solid #6c6767;
            transition: 0.1s ease-out;
          transition-delay: .1s;
            &:hover{
              background-color: $grey10;
            }
            &:first-child {
              border-top: 0;
            }
            a{
              display: inline-block;
              width: 100%;
              padding: 18px 30px 15px 30px;
              margin-bottom: 0;
              font-weight: 500;
        vertical-align:bottom;
              color: white;
              &:hover {
                color: $grey100;
              }
            }
            &.current-menu-item,&.current_page_parent {
              a {
                position: relative;
                &:before{
                  content: " ";
                  width: 106%;
                  height: 2.5px;
                  position: absolute;
                  bottom: -1px;
                  left:0;
                  background-color: white;
                }
              }
            }
            &.current-menu-item  {
              a {
                display: inline-block;
                vertical-align:bottom;
                opacity: 1;
              }
            }
          }
        }
      }
      &:hover {
        .sub-menu {
          top: 85px;
          opacity: 1;
          background-color: #353535;
          z-index: 999;
          width: auto;
          height: auto;
        }
      }
    }
  }
  @include _media-small-down() {
    order:3;
    padding: 0;
  }
}

}
  .price_col{
    background: linear-gradient(180deg, #FF5A25 0%, #F43B00 100%);
    height: 80px;
    width: auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      padding-bottom: 0;
    }
    .price_title{
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #FFE0D6;
      @include _media-small-down(){
        font-size: 16px;
      }
      @include _media-xs-down(){
        color: $white;
        line-height:21px
      }
    }
    .price_subtitle{
      font-weight: 600;
      color: $white;
      font-size: 22px;
      line-height: 27px;
      @include _media-small-down(){
        font-size: 18px;
        line-height: 18px;
      }
      @include _media-xs-down(){
        color: $brand-hover;
      }
    }
    @include _media-md-down(){
      height: 70px;

    }
    @include _media-small-down(){
      height: 70px;
      width:auto;
      padding: 0 10px;
    }
    @include _media-xs-down(){
      background: unset;
    }
  }

}

#hamb_button{
display: none;
  position: absolute;
  right: 5px;
@include _media-small-down() {
  display: block;
  z-index: 999999;
  height: 40px;
  padding: 0;
}
}
.fixed-bar {
display: none;
  background: rgba(255,255,255,.9)!important;
box-shadow: 0px 0px 1px #000;
box-shadow: 0px 0px 20px rgba(0,0,0,.1);
position: fixed;
z-index: 999;
width: 100%;
opacity: 1;
top: 0;
padding: 0;
li{
padding: 12px 0 !important;
&:hover{
  .sub-menu{
    top: 40px !important;
  }
}
}
.sub-menu{
li{
  padding: 0 !important;
}
}
.head_menu{
margin-bottom: 0 !important;
height: 80px;
}
@include _media-lg-down() {
display: none !important;
}
}

.head_menu_top_col{
  ul{
    display: flex;
    justify-content: flex-end;
    li{
      font-size: 14px;
      padding-right: 20px;
      padding-left: 20px;
      border-right: solid 1px #7E7E7E;
      z-index: 2;
      &:last-child{
        padding-right: 0;
        border-right: none;
      }
      a{
        font-size: 14px;
        &:hover{
          color: $gv_gold;
        }
      }
    }
  }
  @include _media-small-down(){
    display: none;
  }
}



.bg {
  &.active {
    z-index: 99;
    width: 100%;
    background-color: #4a4a4a;
    opacity: .8;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
  }
}




.animated-quick {
-webkit-animation: .5s ease;
-moz-animation: .5s ease;
-ms-animation: .5s ease;
-o-animation: .5s ease;
animation: .5s ease;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}



.fadeInDown {
-webkit-animation-name: fadeInDown;
-moz-animation-name: fadeInDown;
-ms-animation-name: fadeInDown;
-o-animation-name: fadeInDown;
animation-name: fadeInDown;
@include _media-md-down() {
display: none !important;
}
}

.fadeOutUp {
-webkit-animation-name: fadeOutUp;
-moz-animation-name: fadeOutUp;
-ms-animation-name: fadeOutUp;
-o-animation-name: fadeOutUp;
animation-name: fadeOutUp;
@include _media-md-down() {
display: none !important;
}
}


.animated {
-webkit-animation: 1s ease;
-moz-animation: 1s ease;
-ms-animation: 1s ease;
-o-animation: 1s ease;
animation: 1s ease;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}

.animated-quick {
-webkit-animation: .5s ease;
-moz-animation: .5s ease;
-ms-animation: .5s ease;
-o-animation: .5s ease;
animation: .5s ease;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}






.fadeIn {
-webkit-animation-name: fadeIn;
-moz-animation-name: fadeIn;
-ms-animation-name: fadeIn;
-o-animation-name: fadeIn;
animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translateY(20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInUp {
0% {
opacity: 0;
-moz-transform: translateY(20px);
}

100% {
opacity: 1;
-moz-transform: translateY(0);
}
}

@-ms-keyframes fadeInUp {
0% {
opacity: 0;
-ms-transform: translateY(20px);
}

100% {
opacity: 1;
-ms-transform: translateY(0);
}
}

@-o-keyframes fadeInUp {
0% {
opacity: 0;
-o-transform: translateY(20px);
}

100% {
opacity: 1;
-o-transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
opacity: 0;
transform: translateY(20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
-moz-animation-name: fadeInUp;
-ms-animation-name: fadeInUp;
-o-animation-name: fadeInUp;
animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInDown {
0% {
opacity: 0;
-moz-transform: translateY(-20px);
}

100% {
opacity: 1;
-moz-transform: translateY(0);
}
}

@-ms-keyframes fadeInDown {
0% {
opacity: 0;
-ms-transform: translateY(-20px);
}

100% {
opacity: 1;
-ms-transform: translateY(0);
}
}

@-o-keyframes fadeInDown {
0% {
opacity: 0;
-ms-transform: translateY(-20px);
}

100% {
opacity: 1;
-ms-transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
opacity: 0;
transform: translateY(-20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
-moz-animation-name: fadeInDown;
-ms-animation-name: fadeInDown;
-o-animation-name: fadeInDown;
animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translateX(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}

@-moz-keyframes fadeInLeft {
0% {
opacity: 0;
-moz-transform: translateX(-20px);
}

100% {
opacity: 1;
-moz-transform: translateX(0);
}
}

@-ms-keyframes fadeInLeft {
0% {
opacity: 0;
-ms-transform: translateX(-20px);
}

100% {
opacity: 1;
-ms-transform: translateX(0);
}
}

@-o-keyframes fadeInLeft {
0% {
opacity: 0;
-o-transform: translateX(-20px);
}

100% {
opacity: 1;
-o-transform: translateX(0);
}
}

@keyframes fadeInLeft {
0% {
opacity: 0;
transform: translateX(-20px);
}

100% {
opacity: 1;
transform: translateX(0);
}
}








@-webkit-keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

@-o-keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

@keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

.fadeOut {
-webkit-animation-name: fadeOut;
-moz-animation-name: fadeOut;
-ms-animation-name: fadeOut;
-o-animation-name: fadeOut;
animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
0% {
opacity: 1;
-webkit-transform: translateY(0);
}

100% {
opacity: 0;
-webkit-transform: translateY(-20px);
}
}
@-moz-keyframes fadeOutUp {
0% {
opacity: 1;
-moz-transform: translateY(0);
}

100% {
opacity: 0;
-moz-transform: translateY(-20px);
}
}
@-ms-keyframes fadeOutUp {
0% {
opacity: 1;
-ms-transform: translateY(0);
}

100% {
opacity: 0;
-ms-transform: translateY(-20px);
}
}
@-o-keyframes fadeOutUp {
0% {
opacity: 1;
-o-transform: translateY(0);
}

100% {
opacity: 0;
-o-transform: translateY(-20px);
}
}
@keyframes fadeOutUp {
0% {
opacity: 1;
transform: translateY(0);
}

100% {
opacity: 0;
transform: translateY(-20px);
}
}

.fadeOutUp {
-webkit-animation-name: fadeOutUp;
-moz-animation-name: fadeOutUp;
-ms-animation-name: fadeOutUp;
-o-animation-name: fadeOutUp;
animation-name: fadeOutUp;
}
